<h1>Hello 
  <!-- <span *ngIf="showName">{{name}}</span>
  <span *ngIf="!showName">World</span> -->

  <span *ngIf="showName; else noName">{{name}}</span>
  <ng-template #noName>World</ng-template> 

  <!-- short hand -->

  <p>Hello {{ showName ? name : "World"}}</p>

  <!-- using switch  -->
  <hr>

  <div [ngSwitch]="1">
    <div *ngSwitchCase="'1'">Hello number one</div>
    <div *ngSwitchCase="'2'">Hello number two</div>
    <div *ngSwitchCase="'3'">Hello number three</div>
    <div *ngSwitchDefault>Hello world</div>
  </div>

</h1>
    
