<h1>Demo app</h1>
<!-- Using form -->

<!-- Here note about the novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" -->

<div class="container">
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" 
        class="form-control" 
        [(ngModel)]="user.name" 
        name="name"
        #userName="ngModel"
        minlength="2"
        required
      >
      <div *ngIf="userName.errors?.minlength ||
        userName.errors?.required && 
        userName.touched" class="alert alert-danger">Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" 
        class="form-control" 
        [(ngModel)]="user.email" 
        name="email"
        #userEmail="ngModel"
        minlength="2"
        required
      >
      <div *ngIf="userEmail.errors?.minlength || 
        userEmail.errors?.required && 
        userEmail.touched" class="alert alert-danger">Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="">Phone number</label>
      <input type="email" 
        class="form-control" 
        [(ngModel)]="user.phone" 
        name="phone"
        #userPhone="ngModel"
        minlength="2"
        required
      >
      <div *ngIf="userPhone.errors?.minlength || 
        userPhone.errors?.required && 
        userPhone.touched" 
        class="alert alert-danger">Phone is required
    </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
  </form>
</div>
